/*Create Group CSS*/


.coverGroup {
    position: relative;
    background-color: #cbb55e;
    height: 200px;
    width: 100%;
  }
  .groupDp {
    position: absolute;
    top: 150px;
    left: 10px;
    height: 80px;
    width: 80px;
    background-color: #378fe9;
  }
  .groupName {
    margin-top: 50px;
    padding: 0px 20px 0px 20px;
  }
  .groupName input {
    height: 28px;
    border-radius: 6px;
    padding-left: 5px;
    outline: none;
    border: 1px solid lightgrey;
    font-size: 13px;
  }
  .description {
    padding: 0px 20px 0px 20px;
    margin-top: 20px;
  
  }
  
  .description textarea {
    height: 100px;
    border-radius: 6px;
    padding-left: 5px;
    outline: none;
    border: 1px solid lightgrey;
    font-size: 17px;
  }
  
  .coverEdit{
    justify-content: flex-end;
    padding: 10px 10px 0px 0px;
  }
  
  .coverProfilePic{
    margin: 50px 0px 0px 40px;
  
  }
  .postButton{
    position: absolute;
    top: 535px;
    left: 670px;
  }