* {
  padding: 0;
  margin: 0;
}

.loginMainContainer {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.wrapNavLogin {
  position: absolute;
  justify-content: center;
  width: 100%;
  padding: 18px;
  gap: 55%;
}

.fullogo {
  scale: 1.3;
}

.wrapLoginButton {
  gap: 30px;
}

.wrapLoginButton button {
  height: 50px;
  width: 100px;
  background-color: #fff;
  border-radius: 50px;
  border: 2px solid #0a66c2bd;
  color: #0a66c2;
  font-weight: 550;
  letter-spacing: 00.1em;
  font-size: 14px;
  cursor: pointer;
}

.wrapLoginButton p {
  opacity: 0.9;
  font-weight: 500;
}

.mainSvglogin {
  width: 100%;
  position: relative;
  justify-content: space-between;
  margin-top: 110px;
}

.loginHr {
  height: 0.5px;
  background-color: rgba(128, 128, 128, 0.329);
  width: 33%;
}
